services: 
  database-notification-service:
    image: postgres:16
    container_name: db-notification-service
    restart: always
    environment:
      POSTGRES_DB: ${NOTIFI_DB_NAME}
      POSTGRES_USER: ${NOTIFI_DB_USER}
      POSTGRES_PASSWORD: ${NOTIFI_DB_PASSWORD}
    ports:
      - "${NOTIFI_DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
  notification-service:
    build:
      context: ../notification-architecture-backend/notification-service
      dockerfile: Dockerfile
    container_name: notification-service
    ports: 
      - "${NOTIFI_SERVICE_PORT}:3000"
    env_file:
      - ../notification-architecture-backend/notification-service/.env
    depends_on:
      - database-notification-service
  billing-service:
    build:
      context: ../notification-architecture-backend/billing-service
      dockerfile: Dockerfile
    container_name: billing-service
    ports:
      - "${BILLING_SERVICE_PORT}:8080"
    env_file:
      - ../notification-architecture-backend/billing-service/.env
volumes:
  postgres_data: