services: 
  database-notification-service:
    image: postgres:16
    container_name: db-notification-service
    restart: always
    environment:
      POSTGRES_DB: ${NOTIFI_DB_NAME}
      POSTGRES_USER: ${NOTIFI_DB_USER}
      POSTGRES_PASSWORD: ${NOTIFI_DB_PASSWORD}
    ports:
      - "${NOTIFI_DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: